* {
    box-sizing: border-box;
}

html {
    font-size: 11px;
    font-size: clamp(11px, 2vw, 17px);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-family: var(--font-primary);
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.5;
    overflow: hidden;
}

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(../assets/img/cover4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 1rem 2rem;
}

.color-blue {
    color: blue;
}

/* TOASTIFY */

.Toastify__toast-container {
    font-family: var(--font-primary);
    font-weight: 600;
    color: white;
}

.Toastify__toast--error {
    background: var(--color-accent)!important;
}